# This is a basic workflow to help you get started with Actions

name: hola-mundo
# Controls when the workflow will run
on: [push]
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  hola-mundo:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: Definir variable
        run: echo "USERNAME=${{ github.actor }}" >> $GITHUB_ENV
      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: g++ hello_world.cpp -o hello_world


